{% import '_includes/forms' as forms %}

<div class="craftpageexporter-modal">
    <form method="post" action="{{ siteUrl }}actions/craft-page-exporter/default/export" accept-charset="UTF-8">
        {{ csrfInput() }}

        <h1>Craft page exporter</h1>

        <input type="hidden" name="entryIds" value="{{ entryIds }}">
        <input type="hidden" name="siteId" value="{{ siteId }}">

        {{ forms.textField({
            label: "Base URL"|t,
            id: 'baseUrl',
            name: 'baseUrl',
            value: settings.baseUrl,
            required: true
        }) }}

        {{ forms.lightswitchField({
            label: "Inline styles"|t,
            id: 'inlineStyles',
            name: 'inlineStyles',
            on: settings.inlineStyles,
            required: true
        }) }}

        {{ forms.lightswitchField({
            label: "Inline scripts"|t,
            id: 'inlineScripts',
            name: 'inlineScripts',
            on: settings.inlineScripts,
            required: true
        }) }}


        {{ forms.lightswitchField({
            label: "Enable FlattenTransformer ?"|t,
            id: 'transformers.FlattenTransformer.enabled',
            name: "transformers[FlattenTransformer][enabled]",
            on: settings.transformers.FlattenTransformer.enabled,
            required: true
        }) }}

        {{ forms.lightswitchField({
            label: "Enable PrefixExportUrlTransformer ?"|t,
            id: 'transformers.PrefixExportUrlTransformer.enabled',
            name: "transformers[PrefixExportUrlTransformer][enabled]",
            on: settings.transformers.PrefixExportUrlTransformer.enabled,
            required: true
        }) }}

        {{ forms.textField({
            label: "Prefix for PrefixExportUrlTransformer"|t,
            id: 'transformers.PrefixExportUrlTransformer.prefix',
            name: "transformers[PrefixExportUrlTransformer][prefix]",
            value: settings.transformers.PrefixExportUrlTransformer.prefix,
            required: true
        }) }}

        <input type="submit" value="Send">
    </form>
</div>

